:root {
  --grey: #5D5D5D;
  --white: #FFF;
  --black: #161718;
  --green: #81C341;
  --GREYdient: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
  background-blend-mode: multiply, multiply;
  --opaque: rgba(22, 23, 24, .85);
  --GREENdient: linear-gradient(90deg, rgba(22,23,24,1), rgba(129,195,65,.9));
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--white);
  font-size: 16px;
  /* background: var(--GREYdient); */
}

a,
i {
  text-decoration: none;
  color: var(--white);
}

a:hover,
i:hover {
  text-decoration: none;
  color: var(--white);
}

.page-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: repeat(7, auto);
  grid-template-columns: 1fr;
  grid-template-areas: "row1" "row2" "row3" "row4" "row5" "row6" "row7";
}

/* PAGE 1 */

.page1 {
  grid-area: row1;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 10fr;
  grid-template-areas: "hide-header static-header" "main main";
  background: var(--GREYdient);
}

.hide-header {
  grid-area: hide-header;
}

.hide-logo {
  height: 50px;
  margin: 20px 0 0 20px;
}

.static-header {
  grid-area: static-header;
  text-align: end;
  margin-top: 13px;
  margin-right: 20px;
}

.social {
  font-size: 45px;
  color: var(--white);
}

.page1-main {
  grid-area: main;
  margin: auto;
  text-align: center;
}

.page1-title {
  margin-bottom: 10px;
}

.isa {
  font-family: 'Alfa Slab One', Arial, sans-serif;
  font-size: 5rem;
  height: 100px;
  text-shadow: 0 0 20px var(--black);
}

.health {
  font-family: 'Great Vibes', Arial, Helvetica, serif;
  font-size: 3rem;
  height: min-content;
  text-shadow: 0 0 10px var(--black);
}

/* PAGE 2 */

.page2 {
  grid-area: row2;
  display: grid;
  height: min-content;
  width: 100vw;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: 1fr;
  grid-template-areas: "row2-1" "row2-2" "row2-3" "row2-4" "row2-5";
}

.row {
  margin: 0;
  border-top: 2px solid var(--white);
  background: var(--black);
}

.row-item {
  font-size: 40px;
  color: var(--white);
}

.row2-1 {
  grid-area: row2-1;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) 3fr;
  grid-template-rows: min-content;
  grid-template-areas: "a1 b1";
}

.a1 {
  grid-area: a1;
  display: grid;
  border-right: 2px solid var(--white);
  padding: 10px;
}

.a-container{
  align-self: center;
}

.a-area-text {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-template-rows: 70px;
  grid-template-areas: "L R";
  width: 290px;
  height: min-content;
  margin: auto;
}

.icon {
  grid-area: L;
  width: 100%;
  padding-left: 20px;
}

.inner-text,
p {
  grid-area: R;
  padding: 5px;
  width: 100%;
}

.a-area-top {
  margin-top: 10px;
}

.b1{
  grid-area: b1;
  display: grid;
  height: 500px;
}

.b-area-bg{
  background: url('./../img/clocks.jpg'), var(--GREENdient);
  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;
}

.b-area-text{
  padding: 10px;
}






@media only screen and (max-width: 870px) {
  .a-area-text {
    width: 60px;
  }
  .inner-text {
    display: none;
  }
  .a1 {
    padding: 10px 30px 10px 10px;
  }
}